<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--
        <Async parameterName="db-log">
            <AppenderRef ref="RollingFile"/>
        </Async>
        -->

        <Console parameterName="console" class="org.apache.log4j.ConsoleAppender">
            <ThresholdFilter level="${log4j.level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n %X{clientIP}"/>
        </Console>


        <RollingFile parameterName="util-log" fileName="logs/util.log"
                     filePattern="logs/log${date:yyyy-MM}/util-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

        </RollingFile>

        <RollingFile parameterName="sec-log" fileName="logs/sec.log"
                     filePattern="logs/log${date:yyyy-MM}/sec-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile parameterName="db-log" fileName="logs/db.log"
                     filePattern="logs/db-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile parameterName="app-log" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile parameterName="biz-log" fileName="logs/biz.log" filePattern="logs/biz-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile parameterName="util-log" fileName="logs/util.log" filePattern="logs/util-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile parameterName="configcenter-log" fileName="logs/configcenter.log"
                     filePattern="logs/configcenter-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile parameterName="job-log" fileName="logs/job.log" filePattern="logs/job-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

          <Loggers>
              <Logger parameterName="com.netease.loan.web.support" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="sec-log"/>
              </Logger>

              <Logger parameterName="com.github.commons" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="util-log"/>
              </Logger>

              <Logger parameterName="com.netease.loan.utils" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="util-log"/>
              </Logger>

              <Logger parameterName="org.apache.ibatis" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
              </Logger>

              <Logger parameterName="org.mybatis" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
              </Logger>

              <Logger parameterName="java.sql" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
              </Logger>
              <Logger parameterName="com.alibaba.druid" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
              </Logger>
              <Logger parameterName="druid.sql" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
              </Logger>

              <Logger parameterName="com.netease.loan.dal.persistence" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="db-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              
              <Logger parameterName="com.netease.loan.biz" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              
              <Logger parameterName="com.netease.loan.web.controller.limit.apply" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.netease.loan.web.controller.loaning" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.netease.loan.web.controller.login" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>

              <Logger parameterName="com.netease.loan.web.controller.repaying" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.netease.loan.web.controller" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="biz-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.netease.loan.utils" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="util-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.netease.loan.job" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="job-log"/>
                  <AppenderRef ref="console"/>
              </Logger>
              <Logger parameterName="com.github.diamond" level="${log4j.level}" additivity="false">
                  <AppenderRef ref="configcenter-log"/>
              </Logger>
              <Root level="debug">
                  <AppenderRef ref="app-log"/>
              </Root>
          </Loggers>
      </Configuration>
